MONOSCOPE_1920x1080_PNG  RCDATA  "Resources/Monoscope1920x1080.png"
MONOSCOPE_1280x1024_PNG  RCDATA  "Resources/Monoscope1280x1024.png"
MONOSCOPE_768x576_PNG    RCDATA  "Resources/Monoscope768x576.png"

